@font-face {
  font-family: 'Bioweapon';
  src: url('../../assets/BIOWEAPON.ttf');
  format: 'opentype';
}

.neptaverse-heading {
  font-family: 'Bioweapon';
}

.neptaverse-heading span {
  text-shadow: #431f65;
}

.neptaverse-image {
  border: 1px solid #431f65;
  border-radius: 50%;
}
