.product-card-bg {
  background-color: #490aad;
}

.product-link {
  text-decoration: none;
  color: whitesmoke;
}

.product-link:hover {
  color: rgb(39, 185, 56);
}

.product-card-qrCode {
  width: 50%;
  height: 50%;
  object-fit: cover;
}
