/* LoadingSpinner.css */

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Center the spinner vertically on the screen */
}

.spinner {
  border: 4px solid rgba(106, 0, 255, 0.2); /* Neon purple with opacity */
  border-top: 4px solid #6a00ff; /* Neon purple color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
